
.coverImg{
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
}

.backgroundCard{
    margin: 0 auto;
}

.stepOneImage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7% auto;
    /* margin: 30px auto; */
    /* width: 100%; */
    /* max-width: 500px; */
    /* padding: 20px; */
}
.stepOneImage img{
    width: 80%;
}
.paragraph p{
    margin: 0 auto;
    /* width: s80%; */
    text-align: center;
    font-size: 1.1rem;
    font-weight: 300;

}