
.coverImg{
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
}

.backgroundCard{ 
    width: 500px;
}

/* .steps{
    display: flex;
    justify-content: center;
} */

.stepImage{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7% auto;
}
.stepImage img{
    width: 80%;
}
.paragraph p{
    margin: 0 auto;
    /* width: s80%; */
    text-align: center;
    font-size: 1.1rem;
    font-weight: 300;

}

.stepCircle{
    margin: 10px 25px;; 
    padding: 8px;
    border: solid 1px #3290ca ;
    border-radius: 50%;
    background-color: #3290ca00; ;

}

.stepCircles{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    padding: 20px;

}

.hide{
    display: none;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;

}
.button{

    margin: 0 20px;
    /* padding: 18px 65px; */
    padding: 2.5% 10%;
    /* font-size: 30%; */
    border-radius: 5px;
    font-family: 'Syne', sans-serif; 
    border: solid 1px #3290ca ;
    background-color: #3290ca00; ;
}
.active{
    background: rgb(54,40,110);
    background: linear-gradient(61deg, rgba(54,40,110,1) 0%, rgba(50,144,202,1) 50%, rgba(95,193,153,1) 100%);
    color: #fff;
    border: none;
}
