@import url('https://fonts.googleapis.com/css?family=Avenir|Syne');
.container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container div {
    margin: 10px 0;
}

.left {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
   
}

.left h2{
    padding: 0 5px;
}

.gebruiker{
    font-family: 'Syne', sans-serif;
}
.user {
    font-family: 'Avenir', sans-serif;
    font-weight: 400;
}