
.container {
    /* center */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* put the divs of the container above each other */
.container div {
    margin: 10px 0;
}

.left {

    /* align left */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;

}