@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
body{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;;
}

.txt{
  
  font-weight: 200;
  color: #353535;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.inpt{
  /* width: 30%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  display: block;
  margin-bottom: 1.5em;
  padding: 1.5em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  width: 30%;
}