@import url('https://fonts.googleapis.com/css2?family=Syne&display=swap');
body{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;;
}

.txt{
  
  font-weight: 200;
  color: #353535;
  text-align: center;
  padding: 0 20px;
}

.inpt{
  display: block;
  margin-bottom: 1.5em;
  padding: 1.3em 1.5em;
  border: 1px solid #e3e3e3;
  /* inner shadow */
  /* box-shadow: inset 0px 0px 5px 0px #bdbdbd; */
  border-radius: 0.5em;
  width: 50%; 
  margin: 0 auto;

}

.inpt:focus{
  outline: none;
  border: 1px solid #5974ec;
}

.inpt:focus::placeholder{
  color: #5974ec;
}

.personalInformation{

  padding: 50px 10px;
  border-radius: 2em;
  margin: 100px 50px;
  float: right;
  position: relative;
  box-shadow: #ccc 0px 0px 10px 0px;
  background-color: #fbfbfb;
  
}
