@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* padding: 30px; */
}
.welcomingPage{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.landingPage{
  padding: 40px 30px;
  width: 50%;
}

.personalInformation{
  margin: 0 auto;
  width: 45%;
}

.backgroundInfo{
  padding: 50px 10px;
  border-radius: 2em;
  margin: 90px 0;
  box-shadow: #ccc 0px 0px 10px 0px;
  background-color: #fbfbfb;
  
}

.background{
  background-image: url("images/bckground.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
}

.background h1{
  color: #fbfbfb;
  text-align: center;
  font-family: 'Syne', sans-serif;
  font-size: 2.8em;
  margin: 450px 0;
 
}

.logo{
  width: 40%;
  padding: 10px 0;
  margin: 0 auto;
  display: block;
}

.txt{
  
  font-weight: 200;
  color: #353535;
  text-align: center;
  padding: 0 20px;
}

.inputs{
  margin: 35px 0;
}

.input{
  margin: 17px 0;
}

.inpt{
  display: block;
  padding: 1.3em 1.5em;
  border: 1px solid #e3e3e3;
  /* inner shadow */
  /* box-shadow: inset 0px 0px 5px 0px #bdbdbd; */
  border-radius: 0.5em;
  width: 50%; 
  margin: 3px auto;

}

.inpt:focus{
  outline: none;
  border: 1.2px solid #5FC199;
}

.titleInpt{
  font-size: 0.85em;
  margin:0 26%;
}

.content{
  margin: 20px 0;
}

.btn{
  display: block;
  margin: 50px auto;
  padding: 1em 5em;
  border: none;
  border-radius: 0.5em;
  background: rgb(54,40,110);
  background: linear-gradient(61deg, rgba(54,40,110,1) 0%, rgba(50,144,202,1) 50%, rgba(95,193,153,1) 100%);
  color: #fbfbfb;
  font-size: 18px;
  font-family: 'Syne', sans-serif;
  font-weight: 500;

}
@media (max-width: 1100px){
  .welcomingPage{
    flex-direction: column;
  }
  .background{
    width: 100%;
  }
  .personalInformation{
    width: 80%;
  }
}